<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">E-posta adresi</th>
      <th scope="col">Telefon numarası</th>
      <th scope="col">Yaşadığınız İl</th>
      <th scope="col">Yaşadığınız İlçe</th>
      <th scope="col">Cinsiyetiniz</th>
      <th scope="col">Medeni durumunuz</th>
      <th scope="col">Eğitim durumunuz</th>
      <th scope="col">Mesleğiniz</th>
      <th scope="col">Gelir durumunuz</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async; index as i;">
      <th scope="row">{{i+1}}</th>
      <td><a href="#" (click)="displayUserDetail(user.id)">{{user.user_firstname}} {{user.user_lastname}}</a></td>
      <td>{{user.user_email}}</td>
      <td>{{user.user_tel}}</td>
      <td>{{user.user_city}}</td>
      <td>{{user.user_town}}</td>
      <td>{{user.user_gender}}</td>
      <td>{{user.user_maritalstatus}}</td>
      <td>{{user.user_education}}</td>
      <td>{{user.user_job}}</td>
      <td>{{user.user_income}}</td>
    </tr>
  </tbody>
</table>

<label for="selectgender">by City:</label>
<select id="selectgender" [(ngModel)]="fiterByGender" name="fiterByGender" (change)="displayCityList('user_city',fiterByGender)">
  <option value="İstanbul">İstanbul</option>
  <option value="Ankara">Ankara</option>
  <option value="İzmir">İzmir</option>
</select>
<label for="selectgender">by Gender:</label>
<select id="selectgender" [(ngModel)]="fiterByGender" name="fiterByGender" (change)="displayCityList('user_gender',fiterByGender)">
  <option value="Erkek">Erkek</option>
  <option value="Kadın">Kadın</option>
</select>
<div class="user-detail" [hidden]="!userDetailShow">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{user.user_firstname}} {{user.user_lastname}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.user_job}}</h6>
      <p class="card-text"><strong>Cinsiyet:</strong> {{user.user_gender}} <br><strong>Medeni durumu: </strong>{{user.user_maritalstatus}} <br><strong>Eğitim durumu: </strong>{{user.user_education}}</p>
      <a href="#" class="card-link">Add to Test</a>
      <a href="#" class="card-link">Edit User</a>
    </div>
  </div>
</div>